#map,#mapE{
  width: 300px!important;
  height: 300px!important;
}

#mapR{

  width: 350px!important;
  height: 350px!important;
}

@media all and (max-width: 363px){

  #map,#mapE,#mapR{
    width: 240px!important;
    height: 240px!important;

  }
}

.error{
  color: red;
}

.graph-container{
  >h2{
    text-align: center;
    padding: 10px;
  }

  >#myChart{
    width: 80% !important;
    height: 100% !important;

    margin: auto;
    padding: 10px;
  }
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// VariablesEW
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

//Navbar
@import 'navbar';

//HomeContent
@import 'homeContent';

//Footer
@import'footer';

//Messages
@import 'messages';

//NewRental
@import 'newRental';

//searchpage
@import 'search-page';

//rental page
@import 'rental-page';

// User Rentals Page
@import 'user-rentals';

// Sponsor Payment
@import 'payment-sponsor';
