#map,#mapR,#mapE{
  width: 300px!important;
  height: 300px!important;
}

@media (max-width: 361px){

  #map{
    width: 240px!important;
    height: 240px!important;

  }
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// VariablesEW
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

//Navbar
@import 'navbar';

//HomeContent
@import 'homeContent';

//Footer
@import'footer';

//Messages
@import 'messages';

//NewRental
@import 'newRental';

//searchpage
@import 'search-page';

//rental page
@import 'rental-page';

// User Rentals Page
@import 'user-rentals';
