footer{

  background-color: #324E5B;
  color: white;
  padding: 30px;

  .row{

    display: flex;
    justify-content: center;

    .footer{

      width: 60%;
      display: flex;
      justify-content: flex-start;

      .footer__section{

        width: 33.3%;

        .title__section{

          font-weight: bold;
          font-size: 20px;
          margin-bottom: 30px;

          .social__section{

            padding:10px;
          }
        }
      }
    }
  }

  .fooFoo{

    border-top:1px solid white;
    padding-top:20px;
    text-align: center;

    .copyrights{

      display: inline;
    }
  }
}

@media (max-width: 768px){
  .footer__section{
    display: none;
  }
  .fooFoo{
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 100%;
    // padding-top:5px;
    text-align: center;
  }
}
