.container{

  .hidden{

    display: none;
  }

  table{

    thead{

      tr{

        .del-btn{

          background-color: Transparent;
          border:none;
          cursor:auto;
        }
      }
    }

    tbody{

      tr{

        &:hover{

          background: darkgrey;
          font-weight: bold;
          cursor:pointer;
        }

        .sent-date{

          white-space: nowrap;
        }
        td{


          button{

            background-color: Transparent;
            border:none;
          }
        }
      }
    }
  }
}
