
section#rental-page
{

  .image{
    width: 100%;
    margin-top: 20px;
    height: 60vh;
    background-color: black;
    overflow: hidden;



    .img__front{
      width: 50%;
      height: 100%;
      overflow: hidden;
      float: left;

      .back{

        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: transform .2s;
        &:hover{
          opacity: 0.5;
          transform: scale(1.2);
        }
      }

      .big__img{

        width: 100%;
        border: fluid black;
        border-width: thin;

      }
    }

    .img__back{
      width: 50%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      float: left;

      .small__img{
        padding: 0;
        height: 50%;
        width: 50%;
        border: fluid black;
        border-width: thin;
        transition: transform .2s;
        overflow: hidden;
        &:hover{
          opacity: 0.5;

        }
      }

    }

  }

  .page__content{
    padding-top: 50px;
    // background-color: $red;

    .page__content__left{

      width: 60%;

      float: left;

      .text__title{
        margin-bottom: 30px;
      }

      .information{
        span{
          padding: 15px;
        }
      }
      .text__description{

      }

      .services{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .services__item{
          padding: 2%;
          width: 25%;
          background-color: white;
          border: solid #D8D8D8;
          border-width: thin;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .content__services__item{
            font-size: 80px;

          }
          span{
            position: absolute;
            bottom: 1%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .page__content__right{
      width: 40%;
      // height: 50px;
      float: left;

      .mappa{
        width: 90%;
        height: 400px;
        background-color: blue;

      }


    }
  }

}

#send-message{

  width: 400px;
  display: inline-block;
  position:fixed;
  bottom: 0;
  right:10%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);

  .contact-renter{

    width: 100%;
    height: 40px;
    background: red;
    padding: 10px;
  }

  .message{

    background-color: #F8FAFC;
    border: 1px solid #ccc;

    textarea{

      resize: none;
      background: white;
    }

  }

}
