section#search-page{


  .search-area{


    #search-panel{

      z-index: 0!important;
    }
    .leaflet-control-search-input-container{

      box-shadow: none;
      height: 37.03px;
      border: 1px solid #ced4da;
      font-size: 0.9rem;
      z-index: 0!important;
    }

    .leaflet-control-search-results-container{

      position:absolute;
      top: 37.03px;
    }

    small{
      font-weight: bold;
      white-space: nowrap;

    }
    .input-container{

      width: 150px;
    }

    .service{


      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 18px;
        float:right;
      }

      /* Hide default HTML checkbox */
      .switch input {display:none;}

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(239, 241, 243);
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        // border: 1px solid #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input.default:checked + .slider {
        background-color: #188E9F;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        left: calc(100% - 19px);
        // -webkit-transform: translateX(26px);
        // -ms-transform: translateX(26px);
        // transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .logo{

        font-size: 18px;
        opacity: 0.7;
        transition: color 0.3s ease;
        transition: opacity 0.3s ease;


        &.active{

          // color: green;
          opacity: 1;

        }
      }
    }



  }

  .rental-card{

    width: 550px;
    height: 200px;

    cursor: pointer;
    transition: transform 0.1s;

    .image{

      background-position: center;
      background-size: cover;
    }

    .card-title{

      color:#587B7F;
    }

    .address{

      font-size: 12px;
      opacity: 0.7
    }

    .services{


      position: absolute;
      bottom: 10px;
      right:10px;

      .element{


        position: relative;

        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #119DA4;

        i{

          font-size: 12px;
          position: absolute;
          top : 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color:white;
        }

      }
    }


    &.sponsored{

      border: 1px solid #745c2d;
      position: relative;

      .sponsor-stamp{


        position: absolute;
        top:3px;
        left:3px;
        display: inline-block;
        padding: 2px 5px;
        background-color: #ccac00;
        color: white;
        font-size:12px;
        font-weight: bold;
        border-radius: 5px;
      }

      .card-title{

        font-weight: 600;
        // font-weight: bold;
      }

    }
  }

}
