section#user-rentals{


  .card{


    width: 298px;


    .sponsor-stamp{

      display: inline-block;
      padding: 2px 5px;
      background-color: #ccac00;
      color: white;
      font-size:12px;
      font-weight: bold;
      border-radius: 5px;
    }
    .images{

      img{

        height: 150px;
        border-radius: 3px;
      }

    }
  }
}
